html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-moz-text-size-adjust:none;
	text-size-adjust:none;
}

/********
GENERAL
********/
::selection {
  background: #6d6dfc; /* Old browsers */
}
::-moz-selection {
  background: #6d6dfc; /* Old browsers */
}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 100%;
	font-weight:400; 
	background: #6d6dfc; /* Old browsers */
	background: -moz-linear-gradient(left, #6d6dfc 0%, #8ff1d3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #6d6dfc 0%,#8ff1d3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #6d6dfc 0%,#8ff1d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6dfc', endColorstr='#8ff1d3',GradientType=1 ); /* IE6-9 */
}
body p{
    font-size: 1.6em;
	font-weight: 100;
	line-height: 1.4;
	letter-spacing: -0.02em;
}
.wrapper{
	max-width: 1300px;
	padding: 0 20px;
	margin: auto;
	position: relative;
	z-index: 5;
}
.btn{
	border-radius: 36px;
	line-height: 1.2;
	display: inline-block;
	padding: 10px 20px; 
	text-transform: inherit;
	font-weight:200;
	text-decoration: none;
	border: none;
	font-size: 1.2em;
}
.btn.white{
	background: #fff;
	color: #6762fd;
	font-weight: 500;
}
.btn.purple{
	background: #6762fd;
	color: #fff;
}
.btn.border-white{
	border: 4px solid #fff; 
	color: #fff;
	font-weight: 400;
}
.btn.border-purple{
	border: 4px solid #6762fd; 
	color: #6762fd;
	font-weight: 400;
}
section {
	position: relative;
}
section h1{
	font-size: 3.6em;
	margin-bottom: 40px;
	background: -webkit-linear-gradient(45deg, #6962ff 10%, #98dadb 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 100;
    line-height: 1.4;
    letter-spacing: -4px;
    text-align: center;
}
section h1 b{
	font-weight: 500;
}
section .logo-poi-section-top{
	position: absolute;
	z-index: 6;
	top: 0;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	border-radius: 100%;
	overflow: hidden;
	width: 140px;
	height: 140px;
	display: flex;
	justify-content: center;
	align-self: center;
}
section .logo-poi-section-top img{
	align-self: center
}
/* HEADER */

header{
	overflow: hidden;
	position: fixed;
	z-index: 99;
	width: 100%;
	top: 0;
	left: 0;
	transition:.4s ease-out;
	background: transparent;
}

header .logo {
	float: left;
}
header .logo a {
	background: url(img/logo.png) no-repeat top center #fff;
	display: block;
	height: 83px;
	width: 95px;
	border-radius: 0 0 100px 100px;
	text-indent: -9999px;
}

header ul {
	float: right;
	line-height: 83px;
}
header ul li {
	display: inline-block;
	margin-left: 40px;
}
header ul li a{
	color: #fff;
	font-size: 1.2em;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
}
header.scrolled{
	background: #6762FD;
}
header ul li a.btn{
	border:2px transparent solid;
	transition:.4s ease-out;
}
header.scrolled ul li a.btn{
	border:2px #fff solid; 
}

/* SECTION 1 */

.section1{
	color: #fff;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.section1 .wrapper{
	padding-top: 25vh;
}
.section1 .text{
	width: 40%;
	margin-left: 10%;
}
.section1 .text h1{
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 100;
    letter-spacing: -1px;
    background: none;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: white;
    color: #fff;
    text-align: left;
    line-height: 1;
}
.section1 .text h1 b{
	font-size: 1.6em;
	font-weight: 500;
	letter-spacing: -4px;
}
.section1 .text p{
	margin-bottom: 20px;
	font-weight:200; 
	width: 70%;
	line-height: 1.4;
}

.section1 .mask{
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}
.section1 .phone{
    position: absolute;
    z-index: 3;
    bottom: 20%;
    left: 65%;
    width: 55vw;
    max-width: 870px;
    transform: translate(-40%,25%);
    pointer-events: none;
}
.section1 .bg-image{
	position: absolute;
	z-index: 1;
	opacity: .24;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 25%;
	top: 0;
	left: 0;
	pointer-events: none;
}
.section1 .bg-circle1{
	position: absolute;
	z-index: 1;
	top: 10vh;
	left: 20vh;
	pointer-events: none;
}
.section1 .bg-circle2{
	position: absolute;
	z-index: 1;
	top: 0;
    right: 0;
    transform: translate(0,-46%) rotate(40deg);
    pointer-events: none;
}

/* Section 2 */
.section2 {
	background: #fff;
	overflow: hidden;
	padding-bottom: 200px;
	position: relative;
}
.section2 .visuel{
	text-align: center;
	margin-bottom: 100px;
}
.section2 .visuel img{
	max-width: 100%;
}
.section2 .text {
	display: flex;
	justify-content: space-around;
	align-self: center;
}
.section2 .text h1{
	font-size: 2.8em;
	font-weight: 300;
	letter-spacing: -1px;
	text-align: right;
	padding: 0 20px;
	color: #000;
	background: none;
	-webkit-background-clip: inherit;
	-webkit-text-fill-color: #000;
	line-height: 1;
}
.section2 .text h1 b{
	font-size: 1.6em;
	font-weight: 400;
	letter-spacing: -4px;
    white-space: nowrap;
    background: -webkit-linear-gradient(45deg, #6d6dfc, #8ff1d3 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section2 .text p{
	padding-left: 20px;
	border-left: 1px #e5e5e5 solid;
	line-height: 1.4;
	font-size: 1.6em;
	font-weight: 200;
	opacity: .8;
}

/* Section3 */
.section3{
	background: #6763f5;
	padding: 180px 0;
	position: relative;
}

.section3 .logo-circles{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 3;
}
.section3 .logo-circles i{
	display: block;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	border-radius: 100%;
	width: 250px; 
	height: 250px;
	opacity: .04;
}

.section3 .logo-circles i:nth-child(1){
	width: 550px;
	height: 550px;

}
.section3 .logo-circles i:nth-child(2){
	width: 850px;
	height: 850px;
}	

.section3 .text {
	text-align: center;
}
.section3 .text p{
	font-size: 3em;
    line-height: 1;
	font-weight: 200;
	letter-spacing: -1px;
	color: #fff;
}
.section3 .text p b{
	font-size: 1.4em;
	font-weight: 500;
	margin-top: 20px;
	letter-spacing: -4px;
    display: block;
    background: -webkit-linear-gradient(45deg, #79a8f6, #8ce7d6 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section3 .bg-image{
	position: absolute;
	z-index: 1;
	opacity: .20;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 25%;
	top: 0;
	left: 0;
}
/* Section4*/
.section4{
	background: #fff;
	padding: 80px 0;
	position: relative;
}
.section4 .wrapper{
	display: flex;
}
.section4 .content {
	margin-right: 200px;
}

.section4 .content .logo{
	height: 60px;
	width: auto;
	margin-bottom: 20px;
	opacity: 0;
	transform: translateX(-40px);
	transition: .3s ease-out;
	transition-delay: 0s;
}
.section4 .content .logo img{
	height: 100%;
	display: inline-block;
}
.section4 .content .text h2{
	margin-bottom: 20px;
	font-size: 2.2em;
	opacity: 0;
	transform: translateX(-40px);
	transition: .3s ease-out;
	transition-delay: .15s;
}
.section4 .content .text p{
	font-size: 1.6em;
	font-weight: 200;
	line-height: 1.4;
	opacity: 0;
	transform: translateX(-40px);
	transition: .3s ease-out;
	transition-delay: .3s;
}
.section4 .content.active .logo,
.section4 .content.active .text h2,
.section4 .content.active .text p{
	opacity: 1;
	transform: translateX(0);
}
.section4 .nav-items {
	width: 20%;
	padding-left: 50px;
    order: 2;
	border-left: 1px #6658d7 solid;
}
.section4 .nav-items li a{
	color: #ccc;
	font-size: 1.6em;
	display: inline-block;
	cursor: pointer;
	padding: 10px 0;
	margin-bottom: 20px;
	text-decoration:none;
	white-space: nowrap;
	transition: .16s ease-out;
}
.section4 .nav-items li.active a{
	color: #6658d7;
	font-size: 2.2em;
	font-weight: 400;
}

/* Section5*/
.section5{
	background: #fff;
	padding-top: 80px;
	position: relative;
}
.section5 h1{
	font-size: 3.6em;
	margin-bottom: 90px;
	background: -webkit-linear-gradient(45deg, #6e71fb, #8ce7d6 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 100;
    letter-spacing: -4px;
}
.section5 h1 b{
	font-weight: 400;
}
.section5 .flex-blocs{
	column-count: 2;
	column-gap: 120px;
}
.section5 .bloc{
	counter-increment: section;
	position: relative;
	width: auto;
	display: inline-block;
	margin-bottom: 40px;
	padding-left: 120px;
}
.section5 .bloc:before{
	content: counter(section);
	font-family: 'Encode Sans', sans-serif;
	font-size: 12em;
	font-weight: 200;
	background: -webkit-linear-gradient(90deg, #6e71fb, #8ce7d6 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 0;
    top: 50%;
    display: inline-block;
    width: 120px;
    text-align: center;
    transform: translate(0%,-50%);
}
.section5 .bloc h2{
	font-size: 2em;
	line-height: 1.2;
	margin-bottom: 10px;
}
.section5 .bloc p{
	opacity: .8;
	line-height: 1.2;
}
.section5 .mask{
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 0;
	width: 100%;
}
/* Section6 */
.section6 {
	padding: 18vw 0 0;
}
.section6 h1{
	font-size: 3.6em;
	color: #fff;
	letter-spacing: -1px;
	font-weight: 100;
	text-align: center;
	margin-bottom: 120px;

	background: none;
	-webkit-background-clip: inherit;
    -webkit-text-fill-color: #fff;
    line-height: 1;
}
.section6 h1 b{
	font-weight: 500;
	display: block;
}
.section6 .flex-blocs{
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
}
.section6 .flex-blocs .bloc{
	width: 50%;
	text-align: center;
}
.section6 .flex-blocs .bloc h2{
	font-size: 2.2em;
	font-weight: 300;
	color: #fff;
	letter-spacing: -1px;
	margin-bottom: 50px;
}
.section6 .flex-blocs .bloc h2 b{
	font-size: 2.2em;
	display: block;
	font-weight: 500;
	letter-spacing: -4px;
}
.section6 .flex-blocs .bloc .visuel{
	margin-bottom: 70px;
}
.section6 .flex-blocs .bloc a{
	font-size: 2.4em;
	display: inline-block;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.section6 .flex-blocs .bloc a:before,
.section6 .flex-blocs .bloc a:after{
	content: "";
	display: inline-block;
	background: url(img/arrows-l.png) no-repeat;
	width: 23px;
	height: 19px;
	margin: 0 20px;
}
.section6 .flex-blocs .bloc a:after{
	transform: rotate(180deg);
}
.section6 form{
	border-top: 1px rgba(255,255,255,.1) solid;
	background: #fff;
	color: #6762fd;
	padding: 50px 0 100px;
	text-align:center; 
}
.section6 form h2{
	font-size: 3em;
	font-weight: 300;
	letter-spacing: -1px;
	margin-bottom: 50px;
	background: -webkit-linear-gradient(45deg, #6762fd 50%, #98dadb 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.4;
}
.section6 form h2 b{
	font-weight: 600;
}

.section6 form .form-input{
	display: flex;
	width: 100%;
	max-width: 660px;
	margin: auto;
}
.section6 form input[type=email]{
	background: transparent;
	border: 2px #6762fd solid;
	color: #6762fd;
	border-radius: 36px;
	padding: 10px 20px;
	width: 80%;
	margin-right: 20px;
	font-family: inherit;
	font-size:1.2em;
}
.section6 form input[type=email]::placeholder {
	color: #6762fd;
}
.section6 form input[type=email]:focus {
	color: #6762fd;
	outline: none;
}
.section6 form input[type=submit]{
	font-weight: 500;
	font-size: 1.4em;
	font-family: inherit;
	cursor: pointer;
	background: #6762fd;
	color: #fff;
}

/* section7 */
.section7 h1{
	letter-spacing: -2px;
}
.section7 .visuel img{
	width: 100%;
	display: block;
}
.section7 .logo-poi-network{
	position: absolute;
	z-index: 6;
	top: 0;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	border-radius: 100%;
	overflow: hidden;
	padding: 20px;
}
.section7 .content{
	background: #685fff;
	padding: 50px 0 100px;
	text-align: center;
	color: #fff;
}

.section7 .content h1{
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 40px;
	background: none;
	-webkit-background-clip: inherit;
    -webkit-text-fill-color: #fff;
    line-height: 1;
}

.section7 .content p{
	margin: auto;
	margin-bottom: 40px;
	width: 80%;
}
.section7 .content .btn{
	padding-left:30px; 
	padding-right: 30px; 
}

/* Section8 */
.section8 {
	background: #fff;
	padding-top: 140px;
}
.section8 h1{
	font-size: 3.6em;
	margin-bottom: 40px;
	background: -webkit-linear-gradient(45deg, #6e71fb, #8ce7d6 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -4px;
    text-align: center;
}
.section8 p{
	font-weight: 200;
	font-size: 1.8em;
	opacity: .40;
	width: 80%;
	margin: auto;
	text-align: center;
}
.section8 .chronology {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 40px 0;
	margin-top: 90px;
}
.section8 .chronology:before{
	content:"";
	display: inline-block;
	width: 2px;
	height: 100%;
	margin-left: -1px;
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 0;
	background: #83a0e1;
}
.section8 .chronology .line{
	margin: 5px 0;
	position: relative;
	z-index: 2;
	display: flex;
    align-items: center;
    justify-content: center;
}
.section8 .chronology .line p{
	margin: 5px;
	opacity: 1;
	width: auto;
}
.section8 .chronology .line p.p-right,
.section8 .chronology .line p.p-left{
	opacity: .9;
	font-weight: 400;
	width: auto;
    max-width: 40%;
}
.section8 .chronology .line p.p-right b,
.section8 .chronology .line p.p-left b{
	font-weight: 600;
}
.section8 .chronology .line p.p-right{
	text-align: left;
	margin-left: 50%;
}
.section8 .chronology .line p.p-left{
	text-align: right;
	margin-right: 50%;
	
}


.section8 .chronology .line .date{
	font-weight: 500;
	text-align: right;
	position: absolute;
	top: 22px;
}
.section8 .chronology .line .date-right{
	transform: translateX(50%);
	margin-left: 40px;
}
.section8 .chronology .line .date-left{
	transform: translateX(-50%);
	margin-left: -40px;
}

.section8 .chronology .line .cel{
	background: #7683f5;
	border-radius: 36px;
	color: #fff;
	padding: 20px;
	font-weight: 500;
	display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 450px;
}
.section8 .chronology .line .cel.cel-blue1{
	background: #75a0f3;
}
.section8 .chronology .line .cel.cel-blue2{
	background: #7683f5;
}
.section8 .chronology .line .cel.cel-blue3{
	background: #91c8e0;
}
.section8 .chronology .line .cel.cel-blue4{
	background: #87afe8;
}
.section8 .chronology .line .cel.cel-right{
    margin-right: 65px;
    transform: translateX(50%);
    text-align: left;
}
.section8 .chronology .line .cel.cel-left{
	margin-left: 65px;
    transform: translateX(-50%);
    text-align: right;
}
.section8 .chronology .line .cel i{
	display: inline-block;
	width: 20px;
	height: 20px;
	min-width: 20px;
    min-height: 20px;
	border: 2px #fff solid;
	border-radius: 100%;
	vertical-align: middle;
}
.section8 .chronology .line .cel.cel-right i{
	margin-right:10px 
}
.section8 .chronology .line .cel.cel-left i{
	margin-left:10px 
}

.section8 .chronology .line .cel .thumb-ico{
	background: url(img/thumb-up-ico.png) no-repeat;
	background-size: cover;
	width: 37px;
	height: 37px;
	border:none;
}
.section8 .chronology .line .cel .atom-ico{
	background: url(img/atoms-ico.png) no-repeat;
	background-size: cover;
	width: 29px;
	height: 29px;
	border:none;
}

/* section9 */
.section9 {
	background: #fff;
	padding: 60px 0;
}
.section9 h1{
	font-size: 3.6em;
	margin-bottom: 40px;
	background: -webkit-linear-gradient(45deg, #6962ff 10%, #98dadb 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 100;
    line-height: 1.4;
    letter-spacing: -4px;
    text-align: center;
}
.section9 h1 b{
    font-weight: 500;
}
.section9 .team {
	text-align: center;
}
.section9 .team-member {
	text-align: center;
	display: inline-block;
	width: auto;
	margin: 40px;
}
.section9 .team-member .visuel{
	border-radius: 100%;
	overflow: hidden;
	width: 170px;
	height: 170px;
	display: inline-block;
	margin-bottom: 20px;
}
.section9 .team-member .visuel img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.section9 .team-member h2{
	font-size: 1.6em;
	font-weight: 500;
}
.section9 .team-member p{
	font-weight: 300;
	margin-bottom: 10px;
}
.section9 .team-member .linkedin{
	display: inline-block;
	background: url(img/linkedinlogo.png) no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	opacity: .3;
	margin-top: 20px;
}
.section9 .team-member .btn{
	font-weight: 500;
	font-size: 1em;
	letter-spacing: 0;
}
/* section10 */
.section10 {
	background: #fff;
	padding: 50px 0;
}
.section10 .partners {
	text-align: center;
	padding: 20px 60px;
	vertical-align: middle;
}
.section10 .partners img {
	display: inline-block;
	margin: 0 20px;
}

/* section11 */
.section11{
	background: #fff;
}
.section11 .news-list{
	/*column-count: 3;
	column-gap: 120px;*/
	display: flex;
	justify-content: space-between;
}
.section11 .news-list article{
	text-align: center;
	margin-bottom: 40px;
	width: 28%;
}
.section11 .news-list article h2{
	color: #1e1b1b;
	font-size: 1.8em;
	font-weight: 400;
	margin-bottom: 20px;
}
.section11 .news-list article .visuel{
	border-radius: 36px;
	overflow: hidden;
	margin-bottom: 40px;
}	
.section11 .news-list article .visuel img{
	display: block;
	width: 100%;
}
.section11 .news-list article p{
	margin-bottom: 40px;
}



/* section12 */
.section12 {
	background: #fff;
	padding: 60px 0;
}
.section12 h1{
	font-size: 3.6em;
	margin-bottom: 40px;
	background: -webkit-linear-gradient(45deg, #6962ff 10%, #98dadb 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 100;
    line-height: 1.4;
    letter-spacing: -4px;
    text-align: center;
}
.section12 h1 b{
    font-weight: 500;
}
.section12 .team {
	text-align: center;
}
.section12 .team-member {
	text-align: center;
	display: inline-block;
	width: auto;
	margin: 40px;
}
.section12 .team-member .visuel{
	border-radius: 100%;
	overflow: hidden;
	width: 170px;
	height: 170px;
	margin-bottom: 20px;
	display: inline-block;
}
.section12 .team-member .visuel img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.section12 .team-member h2{
	font-size: 1.6em;
	font-weight: 500;
}
.section12 .team-member p {
	font-weight: 300;
    margin-bottom: 10px;
}
.section12 .team-member .linkedin{
	display: inline-block;
	background: url(img/linkedinlogo.png) no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	opacity: .3;
}
/* footer */
footer {
	position: relative;
	overflow: hidden;
	padding-bottom: 60px;
}
footer .mask{
	position: absolute;
	z-index: 2;
	top: 0%;
	left: 0;
	width: 100%;
    transform: translateY(-40%);
}
footer .bg-image{
	position: absolute;
	z-index: 1;
	opacity: .24;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 55%;
	top: 0;
	left: 0;
}

footer section .content{
	display: inline-block;
	width: 50%;
	text-align: left;
}
footer .top-footer .content h1{
	text-align:left;
	margin-bottom: 0px;
}
footer .top-footer .content p{
	font-weight: 200;
}

footer form{
	margin-top: 60px;
}
footer form h2{
	font-size: 2.8em;
	font-weight: 300;
	color: #fff;
	letter-spacing: -1px;
	margin-bottom: 50px;
}
footer form h2 b{
	font-weight: 600;
}
footer form .form-input{
	display: flex;
	width: 100%;
	max-width: 660px;
	margin: auto;
}
footer form input[type=email]{
	background: transparent;
	border: 2px #656cdd solid;
	color: #656cdd;
	border-radius: 36px;
	padding: 10px 20px;
	width: 80%;
	margin-right: 20px;
	font-family: inherit;
	font-size: 1.2em;
}
footer form input[type=email]::placeholder {
	color: #656cdd;
}
footer form input[type=email]:focus {
	color: #656cdd;
	outline: none;
}
footer form input[type=submit]{
	font-weight: 500;
	font-size: 1.2em;
	font-family: inherit;
	cursor: pointer;
}

footer .bottom-footer .content{
	float: right;
	padding: 100px 0 0 150px;
}
footer .bottom-footer .content h1{
	color: #fff;
	text-align: left;
    background: none;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: white;
    line-height: 1;
    margin-bottom: 20px;
}
footer .bottom-footer .content h1 b{
	display: block;
}
footer .bottom-footer .content p{
	color: #fff;
	opacity: .8;
	margin-bottom: 20px;
}
footer .bottom-footer .content .social{
	vertical-align: top;
}
footer .bottom-footer .content .social li {
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
}
footer .bottom-footer .content .social li a{
	display: inline-block;
	color: #fff;
	border: 1px #fff solid;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	display: flex;
	justify-content: center;
}
footer .bottom-footer .content .social li a i{
	display: inline-block;
	background: url(img/social-icons.png) no-repeat;
	align-self: center;
}
footer .bottom-footer .content .social li a.facebook i{
	width: 15px;
	height: 21px;
	background-position: -10px -8px;
}
footer .bottom-footer .content .social li a.instagram i{
    width: 19px;
    height: 18px;
    background-position: -53px -9px;
}
footer .bottom-footer .content .social li a.twitter i{
   	width: 18px;
    height: 15px;
    background-position: -99px -11px;
}
footer .bottom-footer .content .social li a.telegram i{
    width: 18px;
    height: 18px;
    background: url(img/telegramicon.png) no-repeat;
    background-size: contain;
}
footer .bottom-footer .content .social li a.linkedin i{
    width: 18px;
    height: 18px;
    background: url(img/linkedinico.png) no-repeat;
    background-size: contain;
}

/* MOBILE RESPONSIVE */

@media screen and (max-width: 640px) {

	.trigger-menu {
	    position:fixed;
	    z-index:999;
	    top:25px;
	    right:30px;
	    width:30px;
	    height:30px;
	    cursor:pointer;
	    -webkit-transition:.3s ease-out;
	    -moz-transition:.3s ease-out;
	    -ms-transition:.3s ease-out;
	    -o-transition:.3s ease-out;
	    transition:.3s ease-out;
	}
	.trigger-menu  i{
	    display:block;
	    width:30px;
	    height:4px;
	    position:absolute;
	    top:50%;
	    left:0;
	    border-radius: 12px;
	    overflow: hidden;
	    background:#fff;
	    -webkit-transition:.3s ease-out;
	    -moz-transition:.3s ease-out;
	    -ms-transition:.3s ease-out;
	    -o-transition:.3s ease-out;
	    transition:.3s ease-out;
	}
	.trigger-menu  i:nth-child(1){
	    margin-top:-8px;
	}
	.trigger-menu  i:nth-child(2){
	    margin-top:0px;
	}
	.trigger-menu  i:nth-child(3){
	    margin-top:8px;
	}
	.trigger-menu.open{
	    -webkit-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    transform: rotate(90deg);
	}
	.trigger-menu.open i:nth-child(1){
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    transform: rotate(45deg);
	    margin-top:0;
	}
	.trigger-menu.open  i:nth-child(2){
	    margin-left:50%;
	    opacity:0;
	    width:0;
	    left:50%;
	}
	.trigger-menu.open i:nth-child(3){
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    margin-top:0;
	}

	.trigger-menu.open i{
		background: #6762fd;
	}


	header ul {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background: white;
		color: red;
		z-index: 999;
		display: flex;
	    flex-direction: column;
    	text-align: center;
    	text-align: center;
    	display: none;
	}
	header ul li{
		display: block;
		margin: auto;
	}
	header ul li a{
		color: #6762fd;
		display: block;
	}
	header ul.open {
		display: block;
	}
	.section1 .text{
		width: 100%;
	}
	.section1 .phone {
		display: none;
	}
	.section2 .text {
		display:block;
	}
	.section2 .text h1{
		margin: 0 0 20px 0;
		padding: 0;
		text-align: center;
		font-size: 26px;
		font-size: 2.2em;
	}
	.section2 .text h1 b{
		white-space: inherit;
		font-size: 40px;
		display: block;
	}
	.section2 .text p {
		border: 0;
		padding: 0;
	}

	.section4 .wrapper {
		flex-direction: column;
	}
	.section4 .content {
		margin: auto;
	}
	.section4 .nav-items {
		order: 1;
	}
	.section4 .content-items {
		order: 2;
	}
	.section5{
		padding: 0;
	}
	.section5 .flex-blocs,
	.section11 .news-list,
	.section6 .flex-blocs {
	    column-count: inherit;
    	column-gap: inherit;
    	display: block;
	    justify-content: inherit;
	    margin-bottom: 20px;
	}
	.section6 .flex-blocs .bloc{
		width: 100%;
	}
	.section6 form .form-input,
	.section6 form input[type=email] {
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}


	.section8 .chronology .line{
		flex-direction: column;
	}
	.section8 .chronology .line .date-left,
	.section8 .chronology .line .date-right,
	.section8 .chronology .line p.p-left,
	.section8 .chronology .line p.p-right,
	.section8 .chronology .line .cel.cel-left,
	.section8 .chronology .line .cel.cel-right {
		transform: inherit;
		top: 0;
		left: 0;
    	margin: 10px 0;
    	position: relative;
    	display: block;
    	text-align: center;
    	order: 2;
    	max-width: inherit;
    	opacity: 1;
	}
	.section8 .chronology .line p.p-left,
	.section8 .chronology .line p.p-right {
		background: #fff;
		border-radius: 36px;
	}
	.section8 .chronology .line .date-left,
	.section8 .chronology .line .date-right {
		text-align: left;
		order: 1;
		background: #fff;
		border-radius: 36px;
	}

	.section8 .chronology .line .cel i {
		display: none;
	}
	
	.section10 .partners {
		display: block;
	}
	footer .wrapper{
		padding: 0;
	}
	footer section .content {
		width: 100%;
		padding: 20px;
	}

	footer .top-footer {
	background: #fff;
	}
	footer .bottom-footer .content{
		float: none;
		padding: 20px;
	}

	footer form .form-input {
		display: block;
	}
	footer form input[type=email] {
		margin-bottom: 20px;
	}


	
}

body { font-size: 75%; }

@media
only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {
    body { font-size: 70%; }
}


